:root {
  --main-color: #48323f;
  --second-color: #a3a19b;
  --text-color: #eeeff3;
  --back-color: #040908;
}
html {
  scroll-behavior: smooth;
}
.navbar {
  background-color: var(--main-color);
}
.hero {
  background-image: url("https://picsum.photos/id/20/1280/720");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 3.25rem;
}
.hero-foot .icon {
  background-color: var(--main-color);
}
.overlay {
  background-color: rgba(0, 0, 0, 0.8);
}
.blog {
  background-color: var(--back-color);
}
.gallery {
  background-color: var(--second-color);
}
.gallery img {
  background-color: var(--text-color);
  padding: 1rem;
  padding-bottom: 2rem;
}

.about {
  background-color: var(--back-color);
}
.map {
  width: 100%;
  height: 400px;
}
.contact {
  background-color: var(--second-color);
}
.contact .input:active,
.contact .input:focus,
.contact .textarea:active,
.contact .textarea:focus {
  border-color: var(--main-color);
  box-shadow: 0 0 0 0.125em rgb(72, 50, 63, 0.25);
}

.contact .button {
  background-color: #eff1fa;
  color: var(--main-color);
}
.contact .button:active,
.contact .button:focus {
  border-color: var(--main-color);
}
.contact .submit {
  background-color: var(--main-color);
  border-color: transparent;
  color: white;
}
.footer {
  background-color: var(--main-color);
}
