:root {
  --main-color: #48323f;
  --second-color: #a3a19b;
  --text-color: #eeeff3;
  --back-color: #040908;
}
html {
  scroll-behavior: smooth;
}
.navbar {
  background-color: var(--main-color);
}
.hero {
  background-image: url("https://picsum.photos/id/20/1280/720");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero-foot .icon {
  background-color: var(--main-color);
}
.overlay {
  background-color: rgba(0, 0, 0, 0.8);
}
.blog {
  background-color: var(--back-color);
}
.contact {
  background-color: var(--second-color);
}
