body {
  background-color: #f4f4f4;
}
hr {
  background-color: #dfdfdf;
  margin: 1rem 0 1.5rem;
}
.footer hr {
  background-color: #272727;
}
h3.title {
  margin-bottom: 1rem !important;
}
.hero {
  background-image: url("https://picsum.photos/id/361/1400/650");
  background-image: url("../img/Background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 3.25rem;
  /* margin-bottom: 6rem; */
}
.navbar {
  background-color: rgba(0, 0, 0, 0.9) !important;
}
.navbar-menu {
  background-color: transparent;
  color: white;
}
a.navbar-item.is-active,
a.navbar-item:hover,
.navbar-link:hover {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.5);
}
/* .hero-foot {
  margin-bottom: -6rem;
} */
.hero-foot > div {
  background-color: #d8dae9;
}
.hero figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.5rem 1.5rem;
  background-color: #c83314;
}
.titles-bottom {
  position: relative;
}
.titles-bottom hr:first-child {
  position: absolute;
  left: calc(50% - 3rem);
  top: 0;
  background-color: #c83314;
  width: 6rem;
  margin: 0;
}
.card {
  box-shadow: none;
  background-color: transparent;
}
.card > * {
  background-color: white;
  border: 1px solid #dcdcdc;
}
.tag {
  background-color: #c83314 !important;
}
.card footer {
  margin-top: 0.3rem;
}
.card-image {
  padding: 1.5rem;
  padding-bottom: 0;
  border-bottom: none;
}
.card-content {
  border-top: 0;
}
.card-content .button:focus {
  border-color: #c83314;
}
.pagination-link.is-current {
  background-color: #c83314;
  border-color: rgb(200, 51, 20);
}
.proyect figcaption {
  background-color: rgba(0, 0, 0, 0.7);
  transform: translateY(100%);
  transition: transform 0.3s;
}
.proyect figcaption span {
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.9);
  display: inline-block;
  margin-top: 4rem;
}
.proyect figure:hover figcaption {
  transform: translateY(0%);
}

.footer {
  background-color: rgba(0, 0, 0, 0.596);
  background-image: url("../img/Background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* padding: 0;
  padding-top: 3rem; */
  padding-bottom: 0;
}
.logo-footer {
  max-width: 200px;
  height: auto;
}
.main-footer {
  padding-bottom: 10rem;
}
@media screen and (min-width: 769px) {
  .main-footer {
    padding-bottom: 6rem;
  }
}
.subfooter {
  background-color: black;
  margin-top: 3rem;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.social .icon {
  background-color: aliceblue;
  border-radius: 50%;
  color: black !important;
  gap: 1rem;
}
.slides {
  height: calc((100vw / 1.5) + 120px);
}

.slides article {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.slider__image::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgb(10, 10, 10, 1) 0%,
    rgb(10, 10, 10, 0.1) 50%,
    rgb(10, 10, 10, 0) 90%
  );
}
.slider__content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 120px;
  height: 100%;
  gap: 0.5rem;
}
.slider__content p {
  display: none;
}
.slider__nav {
  position: absolute;
  bottom: 100px;
  right: calc(50% - (77.17px / 2));
}
@media screen and (min-width: 769px) {
  .slides {
    height: calc(100vw / 3);
  }
  .slider__image::after {
    background: linear-gradient(
      270deg,
      rgb(10, 10, 10, 1) 0%,
      rgb(10, 10, 10, 0.1) 50%,
      rgb(10, 10, 10, 0) 90%
    );
  }
  .slider__content {
    padding: 2rem;
  }
  .slider__content p {
    display: block;
  }
  .slider__nav {
    bottom: 1rem;
    right: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  .slides {
    height: calc(960px / 3);
  }
}
@media screen and (min-width: 1216px) {
  .slides {
    height: calc(1152px / 3);
  }
}
.prev-btn {
  position: absolute;
  left: 0;
  top: calc(50% - 16px);
}
.next-btn {
  position: absolute;
  right: 0;
  top: calc(50% - 16px);
}
